# Ignore node_modules directory
node_modules/

# Ignore environment-specific files
.env

# Ignore log files
*.log

# Ignore build artifacts
build/
dist/

# Ignore IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
